 body {
    background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
  }

.NB {
  opacity: 85%;
}

.card-container{
  display: flex;
  width: 250px;
  margin-top: 5rem;
  margin-left: 10rem;
  padding: 10px 10px;
  column-gap: 250px;
  text-align: center;
}


.new-post-container{
      margin: auto;
      width: 50%;
      padding: 10rem;
      text-align: center;
      color: rgb(163, 181, 185);
      font-weight: bold;
      font-size: 1.5rem;
}


.btns{
  display: inline-block;
}

.editBtn{
  float: left;
  padding: 5px;
}

.delBtn{
  float: left;
  padding: 5px;
}
